
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAut.cshtml";
}


<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="~/Imagenes/loginAzul.png" />
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <br />
                <br />
                <br />

                <h3 id="reloj"> <p> Fecha y hora actual: </p>  @ViewBag.FechaHora</h3>
                <h3>  &nbsp;</h3>
                <h3>
                    <label>Bienvenido a Gestor inventario</label>
                </h3>
                <p>  &nbsp;</p>

                <!--form es una accion que redireccionara aun controlador-->

                <form method="post">

                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="form3Example3">Usuario</label>
                        <input type="text" name="cedula" class="form-control form-control-lg" placeholder="usuario" />
                    </div>


                    <div data-mdb-input-init class="form-outline mb-3">
                        <label class="form-label" for="form3Example4">Contraseña </label>
                        <input type="password" name="contra" class="form-control form-control-lg" placeholder="contraseña" />
                    </div>

                    <div class="d-flex justify-content-between align-items-center">

                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                Recordarme
                            </label>
                        </div>
                        <!-- <a fref="" class="text-body"> Olvidaste la contraseña?</a>    -->
                        @Html.ActionLink("¿Olvidaste la contraseña?", "Index", "RecuperarContraseña", null, new { @class = "text-body" })
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    <asp:Label name="labelMensaje" runat="server" Text=""></asp:Label>
                    <br />
                    <br />
                    <h5>@ViewBag.mensaje</h5>

                </form>


            </div>
        </div>
        <br />
        <br />
        <br />
        <br />

        <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-secondary">

            <div class="text-white mb-3 mb-md-0">
                Gestor Inventario © 2025
               
                
                
                <script>
                    function actualizarReloj() {
                        const now = new Date();
                        document.getElementById("reloj").textContent = now.toLocaleString();
                    }
                    setInterval(actualizarReloj, 1000); // Actualiza cada segundo
                    actualizarReloj();
                </script>



            </div>
        </div>
    </div>
</section>






